@{ 
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<div class="myAccountMain">
    <div style="display: flex; gap: 20px;">
        <div class="input-group mb-3">
            <span><img style="margin-left: 25px;" id="imgPassLoginForm" name="imgPassLoginForm" src="/../Assets/user-black.svg" height="50px" alt="" /></span>
        </div>
        <div class="input-group mb-3">
            <h1 class="newUserAccountTitle">Mario Junior</h1>
        </div>
    </div>
    <h2 class="newUserAccountSubTitle" style="margin-left: 95px;">mariojunior</h2>
</div>